<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datenausgabe mit angularJS aus JSON</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
    <script src="app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />

</head>
<body ng-app="potatoApp">

    <div class="container">

        <div class="potato-list-wrap" ng-controller="potatoCtrl">

            <form>
            	<hr />
                <div class="form-group">
                    <select class="form-control" ng-model="obj.cookingType" ng-options="type for type in uniqueTypes">
                    	<option value="">Kochtyp</option>
                    </select>
         		</div>
                <hr />
                <div class="form-group">
                    <select class="form-control" ng-model="obj.pickingType" ng-options="type for type in uniquePicking">
                    	<option value="">Erntezeit</option>
                    </select>
         		</div>
            </form>
            
            <table class="table table-hover potato-list">
                <tr>
                    <th>Name</th>
                    <th>Herkunft</th>
                    <th>Blüte</th>
                    <th>Knolle</th>
                    <th>Schale</th>
                    <th>Ernte</th>
                    <th>Ertrag</th>
                    <th>Geschmack</th>
                    <th>Typ</th>
                </tr>
                <tr class="potato-item" ng-repeat="potatos in potatoData | filter: customFilter(obj.cookingType) | filter: customFilter(obj.pickingType)">
                    <td><strong>{{potatos.name}}</strong></td>
                    <td>{{potatos.herkunft}}</td>
                    <td>{{potatos.bluete}}</td>
                    <td>{{potatos.knolle}}</td>
                    <td>{{potatos.schale}}</td>
                    <td>{{potatos.ernte|arrayToList}}</td>
                    <td>{{potatos.ertrag}}</td>
                    <td>{{potatos.geschmack}}</td>
                    <td>{{potatos.typ|arrayToList}}</td>
                </tr>
            </table>

        </div>

    </div>

</body>
</html>